.box.box-solid
  .box-body
    table.example.table.table-hover
      thead
        tr
          th(style='width: 20px') ID
          th Joined On
          th Name
          th Firm Name
          th Contact
          th Email Id
          th(style='width: 60px') More Info 
      tbody
        each cont in contacts
          tr
            td
              img.pic.direct-chat-img.margin-r-5(src='#{cont.aimg}' , alt='User Image')
            td(style='vertical-align:middle') 21-Dec-2014
            td(style='vertical-align:middle')= cont.fname+' '+cont.lname
            td(style='vertical-align:middle')= cont.company
            td(style='vertical-align:middle')= cont.phoneno
            td(style='vertical-align:middle')= cont.email
            td(style='vertical-align:middle; text-align:center')
              button(onclick="window.location.href='#'").btn.btn-default.btn-sm
                i.fa.fa-folder-open
                |  View
  // /.box-body
// /.box
